/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Avenir;
  src: url("Avenir.ttc"); }
* {
  box-sizing: border-box; }

html {
  font-family: Avenir; }

a {
  text-decoration: none;
  display: inline-block; }

/* typography.scss */
h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 10px;
  line-height: 1.3; }

ul {
  list-style-type: none; }

h2 {
  font-size: 28px;
  font-weight: 900; }

h3 {
  font-size: 24px;
  font-weight: 300; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px;
  font-weight: 600; }

p {
  font-size: 14px;
  font-weight: 300; }

/* utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

/* navList */
.navList__item {
  display: inline; }

/* buttons.scss */
.button {
  display: inline-block;
  line-height: 36px;
  padding: 0 10px;
  border-radius: 4px;
  text-align: center; }

.button--primary {
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #2B91FE;
  box-shadow: 0 2px 2px 0 rgba(35, 10, 74, 0.15);
  text-transform: uppercase;
  line-height: 42px;
  padding-left: 20px;
  padding-right: 20px; }

.button--cta {
  text-transform: uppercase;
  box-shadow: 0 17px 20px 0 rgba(35, 10, 74, 0.15); }

.appStoreButtons__item img {
  width: 150px;
  height: 45px;
  display: inline-block; }

.header {
  background: #2196F3;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.12);
  overflow: hidden; }
  .header.header--onImage {
    background: none; }
  .header.header--onNextSection {
    margin-bottom: -80px;
    position: relative;
    position: sticky; }
  .header .container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center; }
  .header .header__logo img {
    height: 30px; }

.header__nav .header__navList {
  display: none; }
  @media (min-width: 768px) {
    .header__nav .header__navList {
      display: flex;
      align-items: center; } }
.header__nav .navList__link {
  color: #FFF;
  text-decoration: none; }
.header__nav .navList__item {
  padding: 15px; }
  .header__nav .navList__item.navList__item--disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default; }
  @media (min-width: 1024px) {
    .header__nav .navList__item {
      padding-left: 25px;
      padding-right: 25px; } }

.header__navToggle {
  display: none;
  position: absolute;
  float: right;
  right: 0; }
  .header__navToggle__icon {
    font-size: 28px;
    color: black; }

.mainNav.responsive .navList--mainNav {
  display: block;
  top: 20px; }
  .mainNav.responsive .navList--mainNav li {
    display: block;
    padding: 10px 0; }
  .mainNav.responsive .navList--mainNav li a {
    color: #FFFFFF;
    display: block; }
  .mainNav.responsive .navList--mainNav li:hover {
    background-color: #17213A; }

.section--mainHomepage {
  background-image: url(../images/user-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px; }
  .section--mainHomepage .section__content {
    max-width: 350px;
    padding-top: 230px;
    font-size: 1.8rem; }
    .section--mainHomepage .section__content h2 {
      color: #FFFFFF; }
    .section--mainHomepage .section__content p {
      color: rgba(255, 255, 255, 0.7); }

.section--mapCoverageArea {
  height: 350px;
  background-color: #FFFFFF;
  background: url("../images/chicago-map.jpg") right no-repeat;
  background-size: 70% 40%; }
  @media (min-width: 768px) {
    .section--mapCoverageArea {
      background-size: 50% 80%;
      height: 400px; } }
  .section--mapCoverageArea .section__content {
    padding: 30px; }
    .section--mapCoverageArea .section__content h3, .section--mapCoverageArea .section__content a {
      color: #2196F3; }
    .section--mapCoverageArea .section__content h2 {
      color: #121A2E; }
    .section--mapCoverageArea .section__content p {
      color: #A0AEC0;
      line-height: 1.5; }
    .section--mapCoverageArea .section__content a {
      padding-top: 20px;
      text-decoration: none; }
    @media (min-width: 576px) {
      .section--mapCoverageArea .section__content {
        padding-left: 40px; } }
    @media (min-width: 768px) {
      .section--mapCoverageArea .section__content {
        padding-left: 60px; }
        .section--mapCoverageArea .section__content p {
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(107, 124, 147, 0.12); } }
  .section--mapCoverageArea .section__footer a {
    font-size: 14px;
    font-weight: 900; }

.section--stepsToGetStarted {
  padding: 20px; }
  .section--stepsToGetStarted .section__header h3 {
    color: #2196F3; }
  .section--stepsToGetStarted .section__image {
    display: none; }
  .section--stepsToGetStarted .section__content li h4 {
    font-weight: 900; }
  .section--stepsToGetStarted .section__content li p {
    color: #A0AEC0; }
  @media (min-width: 576px) {
    .section--stepsToGetStarted {
      padding: 40px; }
      .section--stepsToGetStarted .section__image {
        display: block;
        background: url("../images/user-photo.png") center center no-repeat;
        background-size: cover; } }

.section--listOfKeyBenefits {
  background-color: #17213A; }
  .section--listOfKeyBenefits .section__header h3 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px; }
  @media (min-width: 768px) {
    .section--listOfKeyBenefits .section__content .row {
      margin: 0 auto; } }
  .section--listOfKeyBenefits .section__content .row__item {
    margin: 0 auto;
    padding: 30px;
    width: 80%; }
    @media (min-width: 768px) {
      .section--listOfKeyBenefits .section__content .row__item {
        width: 30%;
        display: inline-block; } }
    .section--listOfKeyBenefits .section__content .row__item .media__object__icon {
      width: 49px;
      height: 49px; }
    .section--listOfKeyBenefits .section__content .row__item .media__object__icon--time {
      background: url("../images/time-icon.png");
      background-size: cover; }
    .section--listOfKeyBenefits .section__content .row__item .media__object__icon--repeat {
      background: url("../images/repeat-icon.png");
      background-size: cover; }
    .section--listOfKeyBenefits .section__content .row__item .media__object__icon--heart {
      background: url("../images/care-icon.png");
      background-size: cover; }
    .section--listOfKeyBenefits .section__content .row__item .media__object__icon, .section--listOfKeyBenefits .section__content .row__item .media__content__header, .section--listOfKeyBenefits .section__content .row__item .media__content__text {
      vertical-align: top; }
    .section--listOfKeyBenefits .section__content .row__item .media__content__header {
      color: #FFFFFF; }
    .section--listOfKeyBenefits .section__content .row__item .media__content__text {
      color: #A0AEC0; }

.section--finalCTAWithCredit {
  background: #121A2E;
  color: #FFFFFF;
  padding: 20px;
  text-align: center; }
  @media (min-width: 576px) {
    .section--finalCTAWithCredit .section__content p {
      float: left; } }
  .section--finalCTAWithCredit .button--cta {
    color: #FFFFFF;
    background: linear-gradient(270deg, #4DD0E1 0%, #2196F3 100%); }
    @media (min-width: 576px) {
      .section--finalCTAWithCredit .button--cta {
        float: right;
        display: inline; } }

.section--aboutTheMobileApp {
  background-color: #FFFFFF; }
  .section--aboutTheMobileApp img {
    display: none; }
  .section--aboutTheMobileApp .section__content--container {
    background-color: #F6F9FC;
    height: 400px; }
  .section--aboutTheMobileApp .section__content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px 20px; }
    .section--aboutTheMobileApp .section__content h2 {
      color: #121A2E; }
    .section--aboutTheMobileApp .section__content h3 {
      color: #2196F3; }
    .section--aboutTheMobileApp .section__content p {
      color: #6B7C93; }

@media all and (min-width: 750px) {
  .section--aboutTheMobileApp {
    height: 650px;
    position: relative; }
    .section--aboutTheMobileApp img {
      width: 50%;
      display: block;
      position: absolute;
      left: -80px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 110; }
    .section--aboutTheMobileApp .section__content--container {
      width: 60%;
      height: 400px;
      background-color: #F6F9FC;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translate(0, -50%); }
    .section--aboutTheMobileApp .section__content {
      width: 70%;
      position: absolute;
      margin: auto;
      left: 0;
      bottom: 0;
      right: 0; } }
.section--servicesOfferedCards .row .row__item--washing {
  margin-top: 40px; }
.section--servicesOfferedCards .row {
  margin: 0 auto; }
.section--servicesOfferedCards .row__item .row__content {
  margin: 0 auto;
  height: 170px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  text-align: center;
  position: relative; }
.section--servicesOfferedCards .row__item .row__border {
  width: 100%;
  height: 5px;
  position: absolute; }
.section--servicesOfferedCards .row__item img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  right: 40%;
  z-index: 20; }
.section--servicesOfferedCards .row__item h3 {
  padding-top: 50px;
  padding-bottom: 20px;
  color: rgba(18, 26, 46, 0.87); }
.section--servicesOfferedCards .row__item .row__cta {
  font-weight: 900;
  font-size: 14px; }
.section--servicesOfferedCards .row__item--washing .row__border {
  background: linear-gradient(90deg, #9850DC 0%, #DB63A6 100%); }
.section--servicesOfferedCards .row__item--washing .row__cta {
  color: #9850DC; }
.section--servicesOfferedCards .row__item--drycleaning .row__border {
  background: linear-gradient(90deg, #13A0E2 0%, #01D7C9 100%); }
.section--servicesOfferedCards .row__item--drycleaning .row__cta {
  color: #13A0E2; }
.section--servicesOfferedCards .row__item--tailoring .row__border {
  background: linear-gradient(90deg, #FF4B75 0%, #FFADA0 100%); }
.section--servicesOfferedCards .row__item--tailoring .row__cta {
  color: #FF4B75; }

@media all and (min-width: 750px) {
  .section--servicesOfferedCards .section__content {
    padding: 40px; }
    .section--servicesOfferedCards .section__content .row {
      margin: 0 auto; }
    .section--servicesOfferedCards .section__content .row__item {
      display: inline-block;
      margin: 0; } }
.section--downloadBanner {
  background: linear-gradient(133.62deg, #2B91FE 0%, #485FFF 100%);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section--downloadBanner .section__content {
    text-align: center;
    color: #FFFFFF;
    font-weight: 300; }
    .section--downloadBanner .section__content p {
      color: rgba(255, 255, 255, 0.7); }

.section--footer {
  background-color: #17213A; }
  .section--footer .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px; }
    .section--footer .section__content h6 {
      color: #FFFFFF; }
    .section--footer .section__content p, .section--footer .section__content li a {
      color: rgba(255, 255, 255, 0.7); }
  .section--footer .socialMediaIcons a, .section--footer .appStoreButtons__item {
    display: inline !important; }
  .section--footer .footer__row {
    padding-bottom: 20px;
    padding-left: 20px; }
    .section--footer .footer__row__logo {
      width: 150px;
      height: 23px; }
    .section--footer .footer__row li a {
      font-size: 14px;
      line-height: 1.35;
      display: block; }

@media all and (min-width: 750px) {
  .section--footer {
    height: 230px; }
    .section--footer .section__content {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .section--footer .section__content .footer__row {
        display: inline-block; } }
.main-footer {
  background-color: #121A2E; }
  .main-footer .container {
    display: flex;
    color: #A0AEC0;
    font-size: 12px;
    height: 50px;
    justify-content: space-around;
    padding: 20px; }
    .main-footer .container span {
      padding-right: 5px; }
    .main-footer .container .navList a {
      color: #FFFFFF;
      font-weight: normal;
      display: inline; }

@media all and (min-width: 750px) {
  .main-footer .navList__item {
    margin-right: 10px; } }

/*# sourceMappingURL=style.css.map */
