.contact-form {
     margin: 0 auto;
     padding:80px 0;

     @include tablet {
          width:640px;
     }

}

.input-group {
     margin: 10px 0;
     // padding: 10px 0;
     .form-control {
          color: $body-text-secondary;
          padding: 1.5rem 1rem;
          border: 1px solid #E8F0F5;
          border-radius: 4px;
          background-color: $color-aliceBlue;
     }
}

.form-check {
     margin: 10px 0;
     &-input{
          width:24px;
          height: 24px;
     }
     &-label {
          padding: 0 10px;
     }
}

.form__footer {
     margin: 30px 0;
     color: $body-text-secondary;
     text-align: center;
}
