.section--serviceLocations {

     .serviceLocations__county {
          margin: 30px;
     }
     .navList__item {
     	color: rgba(18,26,46,0.87);
     	font-size: 18px;
     	font-weight: 300;
     }
}

.section--getNotified {
     background: url(../images/locations-map.png) 50% 50% no-repeat;
     background-size: cover;
     .button--cta {
          height:45px;
          background: linear-gradient(270deg, #4DD0E1 0%, #2196F3 100%);
     }

     .input-group {
          margin: 10px 0;
          // padding: 10px 0;
          .form-control {
               color: $body-text-secondary;
               padding: 1.5rem 1rem;
               border: 1px solid #E8F0F5;
               border-radius: 4px;
               background-color: $color-aliceBlue;
          }
     }
}
