//Partial imports

@import 'reset',
        'partials/variables',
        'partials/buttons';
@font-face{
     font-family: Avenir;
     src:url('Avenir.ttc');
}
* {
  box-sizing: border-box;
}

html {
     font-family: Avenir;
}
a {
  text-decoration: none;
  display:inline-block;
}
/* typography.scss */

h1,h2,h3,h4,h5,h6,p {
     padding-bottom: 10px;
     line-height: 1.3;
}
ul {
  list-style-type: none;
}
h2 {
     font-size: 28px;
     font-weight: $font-weight-bold;
}
h3 {
     font-size: 24px;
     font-weight: $font-weight-light;
}
h4{
     font-size: 20px;
}
p {
     font-size: 14px;
     font-weight: $font-weight-light;
}

/* utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* navList */

.navList__item{
     display: inline;
}

/* buttons.scss */

.button {
     display: inline-block;
     line-height: 36px;
     padding: 0 10px;
     border-radius: 4px;
     text-align: center;

}

.button--cta {
       text-transform: uppercase;
       box-shadow: 0 17px 20px 0 rgba(35,10,74,0.15);
}

.appStoreButtons__item img{
     width: 150px;
     height: 45px;
     display: inline-block;
}

// MAIN HEADER
.main-header__nav {
     position: sticky;
     background: transparent;
     display: flex;
	z-index: 100;
     box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.12);

     .logo{
         width: 155.7px;
         height: 22.56px;
         float: left;
         display: inline-block;
      }

     .main-header__navToggle {
          display: inline-block;
          position: absolute;
          float: right;
          right: 0;
          &__icon {
               font-size: 28px;
               color: $white;
          }
     }

     .navList--mainNav{
		display: none;
		position: absolute;
		right: 0;
          }
     }

     .mainNav.responsive {
          .mainNav--navList {
               display: block;
               top: 10px;
               li {
                    display: block;
                    padding: 10px 0;
               }
               li:hover {
                    background-color: $color-deepSapphireBlue;
               }
          }
      }


//MAIN HOME PAGE
.section--mainHomepage {
  height: 650px;
  background: rgba(7,13,28,0.52) url('../images/user-hero.jpg') 50% 50% no-repeat;
  background-size: cover;
  position: relative;
     .section__content{
          position: absolute;
          width:80%;
          top:30%;
          padding: 10px;
     }

  h2{


    color: $white;
  }
  p{


    line-height: 24px;
    color: rgba(255,255,255,0.7);
  }
}

//MAPS COVERAGE AREA
.section--mapCoverageArea{
     height: 350px;
     background-color: $white;
     background:url('../images/chicago-map.jpg') right no-repeat;
     background-size: 70% 40%;
     .section__content{
            padding:30px 10px;
            h3,a {
              color:$primary;
            }
            p{
              color:$color-dimmedText;
              // border-bottom:1px solid rgba(107,124,147,0.12);
            }
      }
      .section__footer{
           a{
                font-size: 14px;
                font-weight: 900;
           }
      }
}

//STEPSTOGETSTARTED

.section--stepsToGetStarted{
     .section__header{
          h3{
               color: $primary;
          }
     }
     .section__content{
            li h4{
                 font-weight: $font-weight-bold;
                 padding-left:20px;
               }

            li p{
              color:$color-dimmedText;
              padding-left:20px;
            }
     }
}

//section--listOfKeyBenefits
.section--listOfKeyBenefits{
background-color: $color-deepSapphireBlue;
     .section__header{
          h3{
               color: $white;
               text-align: center;
               padding-top: 20px;
          }
     }
     .section__content{

          .row__item {
               margin: 0 auto;
               padding: 30px;
               width:80%;

               .media__object {
                    // float:left;
                    &__icon {
                         width:49px;
                         height:49px;
                    }
                    // .media__object__icon,.media__content__header{
                    //      display: inline-block;
                    // }

                    &__icon--time {
                         background: url('../images/time-icon.png');
                         background-size: cover;
                    }
                    &__icon--repeat {
                         background: url('../images/repeat-icon.png');
                         background-size: cover;
                    }
                    &__icon--heart {
                         background: url('../images/care-icon.png');
                         background-size: cover;
                    }

               }
               .media__object__icon,.media__content__header,.media__content__text{
                    vertical-align: top;
               }
               .media__content {
                    &__header {
                         color:$white;
                    }
                    &__text{
                         color: $color-dimmedText;
                    }
               }

          }
     }
}


//finalCTAWithCredit
.section--finalCTAWithCredit{
     background: $color-footer;
     color:$white;
     padding:20px;
     text-align: center;
     .button--cta {
            color: $white;
            background: linear-gradient(270deg, #4DD0E1 0%, #2196F3 100%);
     }
}
 //ABOUT THE MOBILE APP
.section--aboutTheMobileApp{
     background-color:$white;
     img{
          display: none;
     }
     .section__content--container{
          background-color: #F6F9FC;
          height: 400px;
     }
     .section__content{
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 10px 20px;
           h2{
             color:$color-footer;
           }
           h3{
               color:$primary;
           }
           p{
           	color: $color-text;
           }
     }
}

//SERVICES OFFERED CARDS
.section--servicesOfferedCards{
     .row .row__item--washing{
          margin-top: 40px;
     }
     .row__item{

            margin:0 auto;
            height:170px;
            // width: 300px;
            background-color: $white;
            box-shadow: 0 4px 10px 0 rgba(0,0,0,0.15);
            margin-bottom:40px;
            text-align: center;
            position: relative;

            .row__border{
                 width:100%;
                 height: 5px;
                 position: absolute;
                 // top:0;
            }
            img{
                 width: 50px;
                 height: 50px;
                 position: absolute;
                 top:-25px;
                 right: 40%;
                 z-index: 20;
            }
            h3{
            padding-top:50px;
            padding-bottom: 20px;
            color:rgba(18,26,46,0.87);
          }
          .row__cta{
               font-weight: $font-weight-bold;
               font-size: 14px;
          }
       }

       .row__item--washing {
            .row__border{
                 background: $color-gradient-washing;
          }
          .row__cta{
               color: $color-washing;
          }
       }
       .row__item--drycleaning{
          .row__border{
               background: $color-gradient-drycleaning;
          }
          .row__cta{
               color: $color-drycleaning;
          }
       }
       .row__item--tailoring{
            .row__border{
                background: $color-gradient-tailoring;
           }
          .row__cta{
               color: $color-tailoring;
          }
       }
  }
@media all and (min-width: 750px){
  .section--servicesOfferedCards .section__content {
      padding:40px;
      .row{
           margin: 0 auto;
      }
      .row__item{
        display:inline-block;
        margin: 0;
      }
   }
}
//DOWNLOAD BANNER
.section--downloadBanner{
    background: $color-gradient-primary;
     height: 250px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    .section__content{
         text-align: center;
         color:$white;
         font-weight: $font-weight-light;
         p{
              color: $color-footerText;
         }
     }
}

//FOOTER
.section--footer{
     background-color: $color-deepSapphireBlue;
     .section__content{
          display:flex;
          flex-direction: column;
          justify-content: center;
          padding-top: 20px;
     }
     .footer__row__logo{
          width: 150px;
          height:23px;
     }
     h3{
          color:$white;
     }
     p{
          color:$color-footerText;
     }

  .socialMediaIcons a,.appStoreButtons__item{
      display: inline !important;
 }
  .footer__row{
    padding-bottom:20px;
    padding-left: 20px;

     li a{
          color:$color-footerText;
          line-height: 1.35;
          display: block;
     }
  }
}

//MAIN FOOTER
.main-footer {
     background-color: $color-footer;

     .container{
       display: flex;
       color: $color-dimmedText;
       font-size: 12px;
       height: 50px;
       justify-content: space-around;
       padding:20px;
            span{
              padding-right: 5px;
            }
            .navList a{
              color:$white;
              font-weight: $font-weight;
              display:inline;
            }
      }
}

//MEDIA QUERIES
@media screen and (min-width: 480px) {
     .section--mainHomepage{
          width:100%;
          height: 700px;
          .section__content{
               top:40%;
               left: 10%;
               width:60%;
          }
     }
     .section--mapCoverageArea{
          background-size: 50% 50%;
          position: relative;
          .section__content{
               position: absolute;
               left: 10%;
               width:60%;
               float: left;
               transform: translate(0, -50%);
               top:50%;
          }
     }
}
@media screen and (min-width: 601px) {
     .main-header__nav{
          padding: 20px;
          .mainNav{

               .navList--mainNav{
                    display: block;
                    float: right;
                    li{

                         display: inline-block;
                         padding: 10px;
                    }
               }
          }
          .main-header__navToggle{
               display: none;
          }
     }
}
@media all and (min-width: 750px){

     .section--mainHomepage{
          width:100%;
          height: 700px;
          .section__content{
               h2{
                    font-size: 36px;
               }
               top:40%;
               left: 10%;
               width:60%;
          }
     }
     .section--mapCoverageArea{
          background-size: 50% 80%;
          position: relative;
          height: 350px;
          .section__content{
               position: absolute;
               left: 10%;
               width:60%;
               float: left;
               transform: translate(0, -50%);
               top:50%;
          }
     }

     .section--stepsToGetStarted{
          background-image: url('../images/user-photo.png');
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: 20% 40%;
          padding: 40px;
          .section__content{
               width: 30%;
               float: right;
          }
     }

    .section--listOfKeyBenefits {
         .row{
              margin: 0 auto;
         }
         .section__content .row__item{

           width:30%;
           display:inline-block;
         }
     }
     .section--finalCTAWithCredit{
          .section__content p{
               display: inline-block;
          }
     }

      .section--aboutTheMobileApp{
           height: 650px;
           position: relative;
           img{
                width:50%;
                display: block;
                position: absolute;
                left: -80px;
                top:50%;
                transform: translate(0, -50%);
                z-index: 110;
           }
           .section__content--container{
                width:60%;
                height: 400px;
                background-color:#F6F9FC;
                position: absolute;
                right: 0px;
                top:50%;
                transform: translate(0, -50%);
           }
           .section__content{
                width: 70%;
                position: absolute;
                margin: auto;
                left: 0; bottom: 0; right: 0;
                // transform: translate(0, -50%);
                // top:50%;

           }
      }

           .section--downloadBanner{
                height:330px;
           }

         .section--footer{
              height:230px;

              .section__content{
                   padding: 30px;
                   display: flex;
                   flex-direction: row;
                   justify-content: space-around;

                   .footer__row{
                     display:inline-block;

                   }
             }
         }

         .main-footer{
              .navList__item{
                   margin-right: 10px;
              }
         }
}


@media screen and (min-width: 1100px) {
     .section--mainHomepage{
          width:100%;
          height: 700px;
          .section__content{
               top:40%;
               left: 10%;
               width:30%;
          }
     }
     .section--mapCoverageArea{
          width:100%;
          height: 450px;
          .section__content{
               width:40%;
          }
     }

}
