//Partial imports

@import 'partials/variables',
        'partials/buttons';

// links
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav{
  list-style:none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
.main-nav a{
  text-decoration: none;
  display:block;
  padding:1em;
}

ul{
  list-style-type: none;
}

.banner{
  height: 350px;
  background-color: pink;
}

.banner-content{
  min-width:50%;
  padding-left: 40px;
  h2{
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 10px;
  }
}

.store-button{
  display: inline-block;
  background-color: #000000;
  width: 120px;
  height: 55px;
  padding: 5px;
  margin: 10px;
}
.button-text{
  color: #FFFFFF;
}

//
.area{
  height: 350px;
  background-color:grey;

}

.area-content{
  width:40%;
  float: left;

  h2,h3,hr{
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 10px;
  }
}

.steps-list{
  height:350px;
  background-color: lightblue;
}

.steps-list-content{
  width:80%;
}
@media all and (max-width: 800px){
  .main-nav{
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .main-nav{
    -webkit-flex-flow:column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .main-nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .main-nav li:last-of-type a {
    border-bottom: none;
  }
}
